@model IEnumerable<Aplicacao_A1.Models.Produto>

<div class="container my-5">
    <h1 class="text-center mb-4">Produtos Disponíveis</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var produto in Model)
        {
                <div class="col">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body">
                            <h5 class="card-title">@produto.Nome</h5>
                            <p class="card-text text-muted">@produto.Categoria?.Nome</p>
                            <p class="card-text fw-bold">@produto.Preco.ToString("C")</p>
                        </div>
                        <div class="card-footer bg-transparent border-0 text-center">
                                <a asp-action="Details" asp-controller="Public" asp-route-id="@produto.Id" class="btn btn-primary" >Ver Detalhes</a>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>
